// 브레드크럼블 custom style
$bread-border-color: #e8e8e8;
$bread-font-size: 12px;

// 페이지 style
//// color
$color-white: #fff;
$color-black: #000;

$color-point-blue: #268eff;

$color-gray-10: #f9f9f9;
$color-gray-25: #f2f2f2;
$color-gray-50: #e8e8e8;
$color-gray-75: #dedede;
$color-gray-100: #cfcfcf;
$color-gray-200: #b8b8b8;
$color-gray-300: #999;
$color-gray-400: #7d7d7d;
$color-gray-500: #666;
$color-gray-600: #525252; //font default
$color-gray-700: #404040;
$color-gray-800: #2e2e2e;
$color-gray-900: #1a1a1a;

//// status color
$color-normal: #06f;
$color-error: #dc4646;
$color-important: #31ab17;
$color-warning: #f5ab00;
$color-disabled: #999999;

//// font
$page-font-10: 10px;
$page-font-11: 11px;
$page-font-root: 12px;
$page-font-13: 13px;
$page-font-14: 14px;
$page-font-16: 16px;
$page-font-18: 18px;

$page-font-color-300: $color-gray-300;
$page-font-color-600: $color-gray-600;
$page-font-color-900: $color-gray-900;

$page-font-color-blue: #0066ff;

//// border
$page-content-detail-border-color: $color-gray-50;

// 테이블 style
////테이블 내 상태값
$table-td-state-h: 24px;
$table-td-state-font-size: 11px;
$table-td-state-border-radius: 20px;
$table-td-state-color-run: #ddfad6; //정상,완료
$table-td-state-font-color-run: $color-important;
$table-td-state-color-temp: #ebedef; //임시저장
$table-td-state-font-color-temp: #89919f;
$table-td-state-color-ing: #e5f0ff; //진행
$table-td-state-font-color-ing: $color-normal;
$table-td-state-color-negative: #fae5e5; //실패
$table-td-state-font-color-negative: $color-error;
$table-td-state-color-warning: #fcf5ca; //위험
$table-td-state-font-color-warning: $color-warning;
